<mat-tab-group>
  <mat-tab label="About Olea">
    <p>Well... I'm not ready to introduce it ... yet.</p>
    <p>The rest of tabs are also remain in developing stage ...</p>
    <p>They will be ready in the next release, I promise.</p>
  </mat-tab>
  <mat-tab label="Thanks">
    <p>Thx Microsoft; Thx Google; Thx GitHub(which is also from M$); Thx stack overflow </p>
    <p>&ensp;</p>
    <h2>And ....</h2>
    <p>&ensp;</p>
    <h3>front-end:</h3>
    <p>Angular -> web framework</p>
    <p>Matrial Design -> style of appearance</p>
    <p>Angular Matrial -> component infrastructure and Material Design components for Angular</p>
    <p>Electron -> framework for building cross-platform desktop apps with web</p>
    <hr>
    <h3>back-end: </h3>
    <h4>python packages:</h4>
    <p>
      flask, sqlalchemy, flask-sqlahchemy, psycopg2, passlib, argon2_cffi, flask_httpauth, magic, pydub,
      APScheduler, Flask-APScheduler, request, bs4,
      lxml </p>
    <h4>other open source projects:</h4>
    <p>http://derrickgilland.com/posts/demystifying-flask-sqlalchemy/ | Derrick Gilland(@dgilland) -> use sqlalchemy
      model with flask-sqlahchemy</p>
    <p>https://github.com/tangwz/jsonlint | tangwz(@tangwz) -> exts.jsonform</p>
    <p>https://github.com/urwid/urwid | urwid(http://urwid.org/) -> pinks.measure_width </p>
    <p>https://github.com/kolypto/py-password-strength | Mark(@kolypto) -> pwd strength check</p>
    <h4>third part company:</h4>
    <p>Heroku -> host, Redis, PostgreSQL (all free)</p>
    <p>MailGun -> email service (free)</p>
    <p>Google -> storage</p>
    <p>1&1 IONOS -> domain (I know they are mainly a host provider ...)</p>
    <p>Let's Encrypt -> TLS certificate (conmunity)</p>
    <hr>
    <h3>tools:</h3>
    <p>npm</p>
    <p>pip</p>
    <p>Angular CLI</p>
    <p>VS Code(with many extentions) -> IDE</p>
    <p>electron-build</p>
    <p>Postman -> HTTP Request</p>
    <p>pgAdmin -> A GUI to access PostgerSQL</p>
  </mat-tab>
  <mat-tab label="How It Works">
    <p>Actually, even I don't know why it DO works(... yet).</p>
  </mat-tab>
  <mat-tab label="Scerate">
    <p>Scerate is SECRATE~ </p>
  </mat-tab>
</mat-tab-group>
